<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>
</head>

<body>
    <div class="main">
        <div class="container">
            <form action="/artists" method="GET" class="form-inline">
                <div class="container">
                    <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
                    <button class="btn btn-danger" type="submit">Search for an Artist</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>